/*********************************************************************
 *           立创开发板不靠卖板赚钱，以培养中国工程师为己任  
 *         泰山派软硬件资料与相关扩展板软硬件资料官网全部开源
 *                      开发板官网：www.lckfb.com            
 *                     立创论坛：oshwhub.com/forum           
 *            关注B站：【立创开发板】，掌握我们的最新动态！  
 *********************************************************************
 * 文件名：tspi-rk3566-dsi-v10.dtsi
 * 描述：mipi 屏幕
 * 更新:
 * 时间          作者           联系           说明
 * 2023-09-13   吴才成    1378913492@qq.com   v1.0.0
 *********************************************************************/
/ {
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm5 0 25000 0>;
		brightness-levels = <
			  0  20  20  21  21  22  22  23
			 23  24  24  25  25  26  26  27
			 27  28  28  29  29  30  30  31
			 31  32  32  33  33  34  34  35
			 35  36  36  37  37  38  38  39
			 40  41  42  43  44  45  46  47
			 48  49  50  51  52  53  54  55
			 56  57  58  59  60  61  62  63
			 64  65  66  67  68  69  70  71
			 72  73  74  75  76  77  78  79
			 80  81  82  83  84  85  86  87
			 88  89  90  91  92  93  94  95
			 96  97  98  99 100 101 102 103
			104 105 106 107 108 109 110 111
			112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127
			128 129 130 131 132 133 134 135
			136 137 138 139 140 141 142 143
			144 145 146 147 148 149 150 151
			152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167
			168 169 170 171 172 173 174 175
			176 177 178 179 180 181 182 183
			184 185 186 187 188 189 190 191
			192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207
			208 209 210 211 212 213 214 215
			216 217 218 219 220 221 222 223
			224 225 226 227 228 229 230 231
			232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247
			248 249 250 251 252 253 254 255
		>;
		default-brightness-level = <255>;
	};
};

&pwm5 {
	status = "okay";
};


&i2c1 {
	status = "okay";
	ts@5d {
		pinctrl-0 = <&touch_gpio>;
		compatible = "goodix,gt9xx";
		reg = <0x5d>;
		tp-size = <970>;
		max-x = <1200>;  //akiva
		max-y = <1920>;  //akiva
		touch-gpio = <&gpio1 RK_PA0 IRQ_TYPE_LEVEL_LOW>;
		reset-gpio = <&gpio1 RK_PA1 GPIO_ACTIVE_LOW>;
	};
};

&pinctrl {
	dsi1 {
		dsi1_rst_gpio: dsi1-rst-gpio {
			rockchip,pins = <3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		touch_gpio: touch-gpio {
			rockchip,pins = <1 RK_PA0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

/*
 * video_phy1 needs to be enabled
 * when dsi1 is enabled
 */
&dsi1 {
	status = "okay";
};

&dsi1_in_vp0 {
	status = "okay";
};

&dsi1_in_vp1 {
	status = "disabled";
};

&video_phy1 {
	status = "okay";
};

&route_dsi1 {
	status = "okay";//wucaicheng mipi okay
	connect = <&vp0_out_dsi1>;
};

/************************************************************************************************************************************************
 07255  akiva
 R69429 JDI 1200X1920
************************************************************************************************************************************************/
&dsi1 {
	status = "okay";
	// rockchip,lane-rate = <421>;  //akiva
	dsi1_panel: panel@0 {
		status = "okay";
		compatible = "simple-panel-dsi";
		reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&dsi1_rst_gpio>;
		reg = <0>;
		backlight = <&backlight>;
		reset-delay-ms = <30>;
		enable-delay-ms = <100>;
		prepare-delay-ms = <20>;
		unprepare-delay-ms = <20>;
		disable-delay-ms = <20>;
		init-delay-ms = <10>;
		dsi,flags = <(MIPI_DSI_MODE_VIDEO | MIPI_DSI_MODE_VIDEO_BURST |
			MIPI_DSI_MODE_LPM | MIPI_DSI_MODE_EOT_PACKET)>;
		dsi,format = <MIPI_DSI_FMT_RGB888>;
		dsi,lanes  = <4>;
		panel-init-sequence = [
			05 0a 01 01 //soft reset 
			23 00 01 b0 //MCAP
			29 00 06 b3 14 08 00 22 00 //Interface setting
			29 00 02 b4 0c    //Interface ID setting
			29 00 03 b6 3a d3 //DSI control
			15 00 02 51 e6   //write display brightness 
			15 00 02 53 2c   //write control display
			05 0a 01 29      //set display on
			05 78 01 11      //exit sleep mode
			
			
			// 39 00 02 b0 00 	
			// 39 00 02 d6 01 
			// 39 00 06 b3 14 08 00 22 00 //Interface setting
			// 39 00 02 b4 0c  //Interface ID setting
			// 39 00 02 de 00   
			// 39 00 03 b6 3a d3  //DSI control	
			// 39 00 02 c0 00 
			// 39 00 25 c1 0C 61 00 20 00 01 40 01 00 1c f7 e0 62 ad b1 05 9f 3b 00 80 02 80 00 01 00 11 11 11 11 80 00 00 00 22 00 01 
			// 39 00 0a c2 31 f7 80 00 08 00 08 00 00 
			// 39 00 0d c4 70 03 03 00 00 00 00 00 00 08 02 00 
			// 39 00 15 c6 72 01 45 01 66 01 01 01 01 01 01 01 01 01 01 01 01 0b 1a 05 
			// 39 00 1f c7 00 0f 17 21 30 3f 49 5a 41 49 57 6B 72 75 76 00 0F 17 21 30 3F 49 5A 41 49 57 6B 72 75 76 
			// 39 00 14 c8 01 00 00 fe fe fc f0 00 00 00 00 fc 00 00 00 00 00 fc 00 
			// 39 00 05 c9 00 03 01 53 
			// 39 00 0d cb 6a fc ff 58 01 04 00 00 80 00 3c cf 
			// 39 00 02 cc 07 
			// 39 00 0b d0 55 81 bb 17 0c 4c 19 19 0c 00 
			// 39 00 1b d3 0b 33 bb bb b3 33 33 33 00 01 00 a0 d8 a0 04 43 43 33 3b 22 72 07 3d bf 99 11 
			// 39 00 08 d5 06 00 00 01 2c 01 2c 
			// 39 00 02 d6 01 
			// 39 00 03 B7 60 02 	
			// 39 00 02 51 e0 
			// 39 00 02 53 04 
			// 39 00 02 3a 77 
			// 39 00 02 35 01 
			// 39 00 05 2a 00 00 04 af 
			// 39 00 05 2b 00 00 07 7f 
			// 05 0a 01 29 
			// 05 78 01 11
		];

		panel-exit-sequence = [
		05 16 01 28
		05 78 01 10
		];	

		panel-read-id-sequence = [39 00 04 ff 98 81 01];

		disp_timings1: display-timings {
			native-mode = <&dsi1_timing0>;
			dsi1_timing0: timing0 {
				clock-frequency = <159000000>;   //akiva 153600000
				hactive = <1200>;
				vactive = <1920>;
				hfront-porch = <100>;   //akiva 100; gavin 150
				hsync-len = <10>;      //akiva 10
				hback-porch = <40>;    //akiva 40; gavin 80
				vfront-porch = <12>;   //akiva  8; gavin 12
				vsync-len = <4>;       //akiva 4  
				vback-porch = <16>;    //akiva 30; gavin 16
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel_in_dsi1: endpoint {
					remote-endpoint = <&dsi1_out_panel>;
				};
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi1_out_panel: endpoint {
				remote-endpoint = <&panel_in_dsi1>;
			};
		};
	};

};